ADDR=127.0.0.1:8080
SITE_URL=https://SEU-DOMINIO.com
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PUBLISHABLE_KEY=

PRODUTO_NOME="Fatura Light"
PIX_EXPIRACAO_MINUTOS=30

CASHINPAY_SECRET_KEY=
CASHINPAY_WEBHOOK_SECRET=
BLACKCAT_API_KEY=
BLACKCAT_PK_LIVE=
PIXZY_TOKEN=
UMBRELLA_API_KEY=

PIX_CHAVE=
PIX_RECEBEDOR="LIGHT SERVICOS"
PIX_CIDADE="RIO DE JANEIRO"
